[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
ipython = "*"
flask = "==0.12.1"
jedi = "==0.17.2"

[dev-packages]

[requires]
python_version = "3.6"
